<li id = "friend<%= request.id %>">
	<div>
		<%= image_tag request.avatar.url(:thumb), class: "profile_image_friend"%>
		<h3 class="friend_name">
			<%= link_to request.name, request%>
		</h3>
		<%= form_for(Relationship.where(follower_id: request.id, followed_id: current_user.id)[0], class: 'accept_form') do |f|%>
			<div>
				<%= f.hidden_field :followed_id %>
	  			<%= f.hidden_field :follower_id %>
	  			<%= hidden_field_tag :type, 'ACCEPT'%>
	  			<%= hidden_field_tag :func, 'COMPLETE'%>
	  		</div>
	  		<%= f.submit "Accept", class: "btn btn-large btn-primary" %>
		<% end %>
		<%= render 'users/ignore_form', user: request%>
	</div>
</li>