<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
    	  <script type="text/javascript">
    	  	$(function(){
				setInterval(function(){
					var numFeed = $('.feed_item').length
					
					$.ajax({
						url: '/micropost/refresh',
						data: {num: numFeed},
						success: function(data) {
							if (data != "cancel"){
						  		$('#div_feed').html(data);
						 	}
						 }
					});
				}, 10000);
			})
    	  </script>
    	
     	  <h3>Happenings</h3>
     	  <div id="div_feed">
      	  	<%= render 'shared/feed' %>
      	  </div>
    </div>
  </div>
<% else %>
    <div class="row-fluid">
      <section class="span8 hero-unit">
        <h1>Happening</h1>
        <h2>Beta Version</h2>
        <p>Actions speak louder than words.</p>
        <p>We believe in doing. The un</p>
        <p>Be a part of the web-evolution. Create a happening.</p>
      </section>
      <section class="span4">    
        <%= render template:'users/new'%> 
      </section>
    </div>
  </div>
<% end %>