<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <%= user_timezone%>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
     	  <h3>Happenings</h3>
      	  <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Sputnik</h1>
    <h2>Beta Version</h2>

    <p>Some fancy message, supposed to appeal to your rebellious spirit. </p>
    <p>Click the button below, its worth it.</p>

    <%= link_to "Sign up", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>