<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <script type="text/javascript">
          $(function(){
            ajaxUpdate('/micropost/refresh', '.feed_item', $('#div_feed'));
      	  });
      </script>
        <% if current_user.friends.any? or current_user.feed.any? %>
        <h3>Feed</h3>
     	  <div id="div_feed">
      	  	<%= render 'shared/feed' %>
      	</div>
        <% else %>
          <%= render 'static_pages/welcome' %>
        <% end %>
    </div>
  </div>
<% else %>
    <div class="row-fluid">
     <h2 id="front_header">What's happpening?</h2>
      <div class="graphic">
        <%= image_tag 'graphic.jpg' %>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>What, where, when &rarr; Create</h2>
          <p class="front-text">Everything we do, we believe in getting straight to the point. No clutter, just events.</p>
        </div>
        <div class="span4">
          <h2>Pick a happpening and participate</h2>
          <p class="front-text">With Happpening, it's a different day every day. And every day is better, just by virtue of being different. </p>
       </div>
        <div class="span4">
          <h2>Make it happpen.</h2>
          <p>
          <%= link_to "Sign up &raquo".html_safe, 'users/new', class:"btn btn-primary btn-large offset4 sign_up_button", id:"sign_up_button"%>
          </p>
        </div>
      </div>
    </div>
<% end %>