<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <a href="<%= user_path(@user) %>">
          <%= gravatar_for @user, size: 52 %>
        </a>
        <h1>
          <%= @user.name %>
        </h1>
          <span>
            created <%= pluralize(@user.microposts.count, "event") %>
          </span>
        </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
  	<%= render 'friend_action'%>
    <% if @user.microposts.any? and friends?(@user)%>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>