<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
        <div class="user_info">
        <a href="<%= user_path(@user) %>">
          <%= image_tag @user.avatar.url(:thumb), class: "gravatar profile_image" %>
        </a>
        <h1>
          <%= @user.name %>
        </h1>
        <span>
          created <%= pluralize(@user.microposts.count, "event") %>
        </span>  
      </div>
      <%= render 'friend_action'%>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/friends' %>
     </section>
  </aside>
  <div class="span8">
    <h3> <%=@user.name%>'s  happenings </h3>
    <% if @user.participations.any? && (@user == current_user || @user.friends?(current_user))%>
      <ol class="microposts">
        <%= render partial: 'shared/feed_item', collection: @user.followed_posts, as:'feed_item' %>
      </ol>
    <% end %>
  </div>
</div>