<li id="<%= feed_item.id %>" class="feed_item">
  <% if current_user?(feed_item.user) %>
    <%= button_to '&times;'.html_safe, feed_item, class:"close", method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %>
  <% end %>
  <%= link_to image_tag(feed_item.user.avatar.url(:thumb), class: 'gravatar profile_image'), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span><i class="icon-map-marker"></i></span>
  <span class="location"><%= feed_item.location %></span>
  <span><i class="icon-time"></i></span>
  <span class="time"> <%= feed_item.time.strftime('%I:%M %p %d %b') %></span>

  <% if feed_item.time.future? %>
    <span class="participate">
    <%= render 'users/participate_form', feed_item: feed_item if signed_in? %>
    </span>
  <% end %>
  <span class="details"></span>
</li>
