  <%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="">
      <h3>Create a happening</h3>

      <div class="micropost_create_field">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-globe"></i></span>
          <%= f.text_field :content, placeholder: "What? Ex: food, study session, workout", class:"", :id=>"prependedInput" %>
        </div>
      </div>

      <div class="micropost_create_field">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-map-marker"></i></span>
          <%= f.text_field :location, placeholder: "Where? Ex: asian ghetto, doe, RSF", class:"", :id=>"prependedInput" %>
        </div>
      </div>

      <div class="micropost_create_field">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-time"></i></span>
          <% if @micropost.time.nil? %>
            <%= f.text_field :time, placeholder: "When? Ex: in 10 min, at 3 pm", class:"", :id=>"prependedInput" %>
          <% else %>
            <%= f.text_field :time, value:@micropost.time.strftime('%I:%M %p %d %b '), class:"", :id=>"prependedInput" %>
          <% end %>
        </div>
      </div>
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>

  <% end %>