  <%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="">
      <h3>Happpening</h3>

      <div class="micropost_create_field">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-globe"></i></span>
          <%= f.text_field :content, placeholder: "What you want to do", class:"prepended_input", :id=>"content_input" %>
        </div>
      </div>

      <div class="micropost_create_field">	  
        <div class="input-prepend">
          <span class="add-on"><i class="icon-map-marker"></i></span>
          <%= f.text_field :location, placeholder: "Add a location?", class:"prepended_input google_location_autocomplete", :id=>"location_input", "rel" => "popover", "data-content" => "", "data-original-title" => "Find the place on the map", "data-html" => "true"%>
        </div>
		<script type="text/javascript">
			$(function() {
				createAutocompletePopover($('#location_input'));
			});
		</script>
      </div>

      <div class="micropost_create_field">
		<script type="text/javascript">
			$(function() {
				$('#time_input_container').datetimepicker({
					language: 'en',
					pick12HourFormat: true
				});
				
				$('#end_time_input_container').datetimepicker({
					langugage: 'en',
					pick12HourFormat: true
				});
				
				$('#time_input').focus(function() {
					$('#time_input_container').datetimepicker('show');
				});
				
				$('#end_time_input').focus(function() {
					$('#end_time_input_container').datetimepicker('show');
				});
				
				$('#time_input').blur(function() {
					$('#time_input_container').datetimepicker('hide');
					
					if ($(this).val().length > 0) {
						$('#create_end_time').show();
						
						$('#create_end_time').click(function() {
							$(this).remove();
							
							$('#end_time_field').show();
						});	
					}
				});
				
				$('#end_time_input').blur(function() {
					$('#end_time_input_container').datetimepicker('hide');
				});
			});
		</script>
	  
        <div id="time_input_container" class="input-append">
          <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
          <% if @micropost.time.nil? %>
            <%= f.text_field :time, placeholder: "Add a time?", class:"prepended_input", :id=>"time_input", "data-format"=>"MM/dd/yyyy HH:mm PP"%>
          <% else %>
            <%= f.text_field :time, "data-format"=>"MM/dd/yyyy HH:mm PP", value: @micropost.time.strftime('%I:%M %p %d %b '), class:"prepended_input", :id=>"time_input" %>
          <% end %>
        </div>
      </div>
	  
	  <span id="create_end_time" class="link" style="display:none">End Time?</span>
	  
	  <div id="end_time_field" class="micropost_create_field" style="display: none">
		<div id="end_time_input_container" class="input-append">
          <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
          
		  <% if @micropost.end_time.nil? %>
			<%= f.text_field :end_time, placeholder: "Add an ending time?", class:"prepended_input", :id=>"end_time_input", "data-format"=>"MM/dd/yyyy HH:mm PP"%>
		  <% else %>
			<%= f.text_field :end_time, placeholder: "Add an ending time?", class:"prepended_input", :id=>"end_time_input", "data-format"=>"MM/dd/yyyy HH:mm PP", value: @micropost.end_time.strftime('%m/%d/%Y %I:%M %p')%>
		  <% end %>
        </div>
	  </div>
	  
	  <%= f.hidden_field :latitude %>
	  <%= f.hidden_field :longitude %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>

  <% end %>