<% @user ||= current_user %>
<div class="stats">
  Currently participating in events <br>

  <% @user.participations.each do |participation| %>
      <%=link_to participation.micropost.content, detail_micropost_path(participation.micropost_id) %>
      <%=link_to participation.micropost.user.name, participation.micropost.user%>
  <% end %> 

  <!-- <a href="<%= created_user_path(@user) %>">
    created
    <strong id="created" class="stat">
      <%= @user.microposts.count %>
    </strong>
    events 
  </a>
  <a href="<%= participates_user_path(@user) %>">
    participated in
    <strong id="participating" class="stat">
      <%= @user.participations.count %>
    </strong>
    events 
  </a>

  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a> -->

</div>