<% @user ||= current_user %>
<div class="stats">
  <h3 id="participating-in">Participating in</h3>

  <% if @user.has_participations? %>
	  <% @user.participations.each do |participation| %>
	      <span class="label label-info label-custom"><%=link_to participation.micropost.content, detail_micropost_path(participation.micropost_id) %></span>
	      
	  <% end %>
  <% else %>
  	  <small></small>Not participating in any events</small>	   
  <% end %>

  <!-- <a href="<%= created_user_path(@user) %>">
    created
    <strong id="created" class="stat">
      <%= @user.microposts.count %>
    </strong>
    events 
  </a>
  <a href="<%= participates_user_path(@user) %>">
    participated in
    <strong id="participating" class="stat">
      <%= @user.participations.count %>
    </strong>
    events 
  </a>

  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a> -->

</div>