<%= form_for(post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="well well-small">
    <h3>Reply</h3>
      <div class="micropost_create_field">
        <div class="input-prepend"> 
            <span class="add-on"><i class="icon-pencil"></i></span>
              <%= f.text_field :content, placeholder: "lets push it back 10 min", class:"micropost_field", :id=>"prependedInput" %>
         </div>
      </div>
  <div><%= f.hidden_field :user_id%></div>
  <div><%= f.hidden_field :micropost_id%></div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>