<h4>Top Proposals</h4>
<div>
	<% activity_proposals.each do |activity_proposal| %>
		<div class="proposal_entry">
			<span class="icon-globe"></span>
			<span><%= activity_proposal.content %></span>
			<%= form_for(proposal, :html => { :class => "inline"}) do |f| %>
				<%= f.hidden_field :content, value: activity_proposal.content %>
				<%= f.hidden_field :location, value: "" %>
				<%= f.hidden_field :time, value: "" %>
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :micropost_id %>
				<%= f.submit "Vote", class: "btn"%>
			<% end %>
			<span class="badge badge-info"><%= activity_proposal.content_count %></span>
		</div>
	<% end %>
</div>
<div>
	<% location_proposals.each do |location_proposal| %>
		<div class="proposal_entry">
			<span class="icon-map-marker"></span>
			<span><%= location_proposal.location %></span>
			<%= form_for(proposal, :html => { :class => "inline"}) do |f| %>
				<%= f.hidden_field :content, value: "" %>
				<%= f.hidden_field :location, value: location_proposal.location %>
				<%= f.hidden_field :time, value: "" %>
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :micropost_id %>
				<%= f.submit "Vote", class: "btn"%>
			<% end %>
			<span class="badge badge-info"><%= location_proposal.location_count %></span>
		</div>
	<% end %>
</div>
<div>
	<% time_proposals.each do |time_proposal| %>
		<div class="proposal_entry">
			<span class="icon-time"></span>
			<span><%= time_proposal.time %></span>
			<%= form_for(proposal, :html => { :class => "inline"}) do |f| %>
				<%= f.hidden_field :content, value: "" %>
				<%= f.hidden_field :location, value: "" %>
				<%= f.hidden_field :time, value: time_proposal.time %>
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :micropost_id %>
				<%= f.submit "Vote", class: "btn"%>
			<% end %>
			<span class="badge badge-info"><%= time_proposal.time_count %></span>
		</div>
	<% end %>
</div>

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Make a proposal</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <%= form_for(proposal) do |f| %>
		
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">New Proposal</h3>
	  </div>
	  <div class="modal-body">
		<%= f.text_field :content, placeholder: "suggest a new thing to do" %>
		<%= f.text_field :location, placeholder: "suggest a new place" %>
		<%= f.text_field :time, placeholder: "suggest a new time" %>
		
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :micropost_id %>
	  </div>
	  <div class="modal-footer">
		<%= f.submit "Make proposal", class: "btn btn-primary" %>
	  </div>
  
  <% end %>
  
</div>