<script type="text/javascript">
	$(function() {
		// Attaching date time pickers
		$('#poll<%= poll.id %> .time_poll').datetimepicker({
			language: 'en',
			pick12HourFormat: true
		});
		
		// Attaching handlers to close date time pickers
		$('#poll<%= poll.id %> .time_poll').blur(function() {
			$(this).datetimepicker('hide');
		});
		
		// Attaching correct handlers to checkbox to submit the form they are related to
		$('#poll<%= poll.id %> .poll_checkbox').click(function() {
			var form = $(this).parent();
			
			if (form) {
				form.submit();
			}
		});
	});
</script>
<div class="poll">
	<div class="poll_header modal-header">
		<span class="app_header_icon poll_icon"></span>
		<h4>Poll App</h4>
	
		<div class="btn-group">
		  <button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
			<li><%= link_to "Remove", poll, method: :delete, remote: true,
											 data: { confirm: "Are you sure?" },
											 locals: {id:poll.id}, id: "poll#{poll.id}_remove" %></li>
		  </ul>
		</div>
	</div>
	
	<div class="poll_body">
		<h4>Q: <%= poll.question %></h4>
		
		<div id="poll<%= poll.id %>">
			<%= form_for(current_user.proposals.build(poll_id: poll.id), remote: true) do |f| %>
			<% if poll.poll_type == "LOCATION" %>
				<%= f.text_field :content, class: "location_poll", "placeholder"=>"Place name"%>
				<%= f.hidden_field :time, value: "" %>
				<%= f.hidden_field :end_time, value: "" %>
				<%= f.submit "Vote", class: "btn btn_correct"%>
			<% elsif poll.poll_type == "TIME"%>
				<%= f.text_field :time, class: "time_poll", "data-format"=>"MM/dd/yyyy HH:mm PP", "placeholder"=>"Start time"  %>
				<%= f.text_field :end_time, class: "time_poll", "data-format"=>"MM/dd/yyyy HH:mm PP", "placeholder"=>"End time" %>
				<%= f.submit "Vote", class: "btn btn_correct" %>
			<% else %>
				<%= f.text_field :content, class: "location_poll" %>
				<%= f.hidden_field :time, value: "" %>
				<%= f.hidden_field :end_time, value: "" %>
				<%= f.submit "Vote", class: "btn btn_correct" %>
			<% end %>

			<%= f.hidden_field :poll_id %>
		<% end %> 

			<% poll.proposals.each do |proposal| %>
				<% if poll.poll_type == "LOCATION" %>
					<%= render partial: "microposts/poll/location_poll_element", locals: {location_proposal: proposal} %>
				<% elsif poll.poll_type == "TIME" %>
					<%= render partial: "microposts/poll/time_poll_element", locals: {time_proposal: proposal} %>
				<% elsif poll.poll_type == "NONE" %>	
					<%= render partial: "microposts/poll/default_poll_element", locals: {proposal: proposal} %>
				<% end %>	
			<% end %>
		</div>
	</div>
</div>