<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render partial:'post_form', locals: {post:@post} %>
      </section>
    </aside>
    <div class="span8">
      <div class="micropost-info">
        <h3 class="detail_content"><%=@micropost.content%></h3> 
        <span><i class="icon-map-marker"></i></span>
        <span class="location"><%=@micropost.location%></span> 
        <span><i class="icon-time"></i></span> 
        <span class="time"><%=@micropost.time.strftime('%I:%M %p %d %b ')%></span>
        <br/>
        <span><i class="icon-user"></i></span> 
        <h4 id="by-user">
          <%= link_to @micropost.user.name, @micropost.user %>
        </h4>
      

      <span class="participate">
        <%= render 'users/participate_form', feed_item: @micropost%>
      </span>

      <% if current_user?(@micropost.user) %>
      <span class="edit microposts">
        <a class="micropost_edit_button" type="button" data-toggle="modal" data-target="#edit_modal">edit</a>
      </span>
      <% end %>

      <div id="edit_modal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Update happening</h3>
        </div>
        <div class="modal-body">        
        <%= form_for(@micropost, action:'update', id:@micropost.id) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <%= f.label :content, 'content' %>
              <%= f.text_field :content %>

              <%= f.label :location, 'Location' %>
              <%= f.text_field :location %>

              <%= f.label :time, 'Time'%>
              <%= f.text_field :time, value:@micropost.time.strftime('%I:%M %p %d %b') %>

        </div>
        <div class="modal-footer">
          <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        </div>
        <% end %>
      </div>




      </div>

      <%= render partial:'detailed_post_info', locals: {micropost:@micropost, participants:@participants, post_items:@post_items} %>        


    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Sputnik</h1>
    <h2>Beta Version</h2>

    <p>Some fancy message, supposed to appeal to your rebellious spirit. </p>
    <p>Click the button below, its worth it.</p>

    <%= link_to "Sign up", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>