<% if signed_in? %>
  <div class="row">
    <aside class="span3">
		<div id="user_info">
		  <section>
			<%= render 'shared/user_info' %>
		  </section>
		  <section>
			<%= render 'shared/stats' %>
		  </section>
	  </div>
    </aside>
    <div class="span9">
      <div class="micropost-info">
        <h3 class="detail_content"><%=@micropost.content%></h3> 
        <span><i class="icon-map-marker"></i></span>
        <span class="location"><%=@micropost.location%></span> 
        <span><i class="icon-time"></i></span> 
        <span class="time"><%= time_representation(@micropost.time, @micropost.end_time) %></span>
        <span><i class="icon-user"></i></span> 
        <h4 id="by-user">
          <%= link_to @micropost.user.name, @micropost.user %>
        </h4>
      
      <span class="participate">
        <%= render 'users/participate_form', feed_item: @micropost%>
      </span>

      <% if current_user?(@micropost.user) %>
      <span class="edit microposts">
        <%= link_to "edit", {action:'edit', id:@micropost.id}, class:"micropost_edit_button"%>
      </span>
      <% end %>
      </div>
       
	  <%= render partial:'detailed_post_info', locals: {micropost:@micropost, friends:@friends, participants:@participants, post_items:@post_items, proposal:@proposal, location_proposals: @location_proposals, time_proposals: @time_proposals, post: @post} %>        
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Sputnik</h1>
    <h2>Beta Version</h2>

    <p>Some fancy message, supposed to appeal to your rebellious spirit. </p>
    <p>Click the button below, its worth it.</p>

    <%= link_to "Sign up", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>