<% provide(:title, "Edit micropost") %> 
<h1>Update the happpening</h1>
<%= link_to "Go back", {action:'detail'} %>
<div class="row">
  <div class="span6 offset3">
  <%= form_for(@micropost, action:'update', id:@micropost.id) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content, 'Content' %>
      <%= f.text_field :content %>

      <%= f.label :location, 'Location' %>
      <%= f.text_field :location %>

      <%= f.label :time, 'Time'%>
      <%= f.text_field :time, value:@micropost.time.in_time_zone(user_timezone).strftime('%I:%M %p %d %b') %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>