<%= link_to image_tag("logo3.png"), root_path, id: "logo", class:"brand" %>
<% if signed_in? %>
	  			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
				</a>
				<ul class="nav pull-right">
					<li><%= link_to content_tag(:i, nil, class:"icon-list icon-white"), root_path, id:"feed", rel:"tooltip", "data-placement"=>"bottom", "data-original-title"=>"Feed" %>
				    </li>
			        <li><%= link_to content_tag(:i, nil, class:"icon-user icon-white"), current_user, id:"my-profile", rel:"tooltip", "data-placement"=>"bottom", "data-original-title"=>"My Profile" %>
				    </li>
				    <li><%= link_to content_tag(:i, nil, class:"icon-wrench icon-white"), edit_user_path(current_user), id:"settings", rel:"tooltip", "data-placement"=>"bottom", "data-original-title"=>"Settings" %>
				    </li>
			        <li>
		       		<%= link_to content_tag(:i, nil, class:"icon-off icon-white"), signout_path, method: "delete", id:"signout", rel:"tooltip", "data-placement"=>"bottom", "data-original-title"=>"Signout" %>
		            </li>
				</ul>
				<div class="nav-collapse collapse">
			       	<ul class="nav pull-right">
			       		<%= form_tag("/search", {class: 'navbar-search pull-left', id: 'header_search'}) do%>
					   		<%= text_field_tag('query', nil, {placeholder: "Search for friends", :class => "input-xlarge search-query", id: "header_search_bar"})%>
				   		<% end %>

				        <li>
				     		<% text = "Friends <span id=\"friend_requests\" class=\"badge badge-inverse\">" + current_user.num_received_friend_requests.to_s + "</span>"%>
			          		<%= link_to text.html_safe, friend_path%>
				        </li>
				        <li>
				       		<% text = "Notifications <span class='notification-badge badge badge-inverse'>" + current_user.num_unread_notifications.to_s + "</span>"%>
				       		<%= link_to(text.html_safe, '#', id:"notification", rel:'popover', :title => "Notifications", "data-content" => gather_notifications(current_user)) %>
				    	</li>
					</ul>
				</div>
<% else %>
		     	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span>Sign in</span>
				</a>
				<div class="nav-collapse collapse">
					<%= form_for(:session, url: sessions_path, html: {:class=>'navbar-form pull-right', id:"signin"}) do |f| %>
						    	<%= f.text_field :email, class:"span2", placeholder:"Email"%>
						     	<%= f.password_field :password, class:"span2", placeholder:"Password" %>
						      	<%= f.hidden_field :timezone, :id=>"timezone"%>
						      	<%= f.submit "Sign in", class: "btn btn-primary" %>
					<% end %>
					<script type="text/javascript">
					    $(document).ready(function(){
						    $('#timezone').set_timezone(); 
					    });
	    			</script>
				</div>
<% end %>