<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %> 
    <%= render 'layouts/shim' %>
  </head>
  <body>
  <header class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/header' %>
        </div>
      </nav>
  </header>
    <div class="container main_content">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <script type="text/javascript">
  	  var uvOptions = {};
  	  (function() {
  	    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
  	    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/xu5VDPHn1lcAvCBbrKAw.js';
  	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  	  })();
  	</script>
  </body>
</html>